<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django app for Image processing</title>
</head>
<body>
    <h1>Image before Image processing</h1>
    <img src="{% static '1.png' %}" alt="testimage" height="300px" width="400px">
    <h1>Image after Image processing</h1>
    <img src="{% static '2.png' %}" alt="testimage" height="300px" width="400px">

</body>
</html>